/* CSS Document */
body{
	margin:0px;
	padding:0px;
}
#header{
	padding:10px;
	background-color:#0d3460;
	color:#fff;
	font-family:Arial;		
}
h1{
	font-size:20px;
	width:760px;
	margin:0px auto;
}
#content{
	width:760px;
	margin:0px auto;
	font-size:12px;
	color:#444;
	padding:10px;
	line-height:180%;		
}
#nav{
	text-align:center;
	margin:0px auto;
	padding:10px 0px;
	background-color:#eee;
}
input{
	font-size:12px;
}