<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>多列定宽</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/function.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="g-bd f-cb">
    <div class="g-left1">
        <p>左1定宽</p>
    </div>
    <div class="g-left2">
        <p>左2定宽</p>
    </div>
    <div class="g-left3">
        <p>右1定宽</p>
    </div>
    <div class="g-left4">
        <p>右2定宽</p>
    </div>
</div>
</body>
</html>