<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>三列中间列自适应</title>
    <meta name="keywords" content="HelloWord"/>
    <meta name="description" content="HelloWord"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/function.css"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="../img/favicon.ico"/>
    <link rel="apple-touch-icon" href="../img/touchicon.ico"/>
</head>
<body>
<div class="g-bd5 f-cb">
    <div class="g-sd51">
        <p>左侧定宽</p>
    </div>
    <div class="g-mn5">
        <div class="g-mn5c">
            <p>中间自适应</p>
        </div>
    </div>
    <div class="g-sd52">
        <p>右侧定宽</p>
    </div>
</div>

</body>
</html>