<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>三列左列自适应</title>
    <meta name="keywords" content="HelloWord"/>
    <meta name="description" content="HelloWord"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/function.css"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="../img/favicon.ico"/>
    <link rel="apple-touch-icon" href="../img/touchicon.ico"/>
</head>
<body>
<div class="g-bd4 f-cb">
    <div class="g-mn4">
        <div class="g-mn4c">
            <p>左侧自适应</p>
        </div>
    </div>
    <div class="g-sd41">
        <p>右1侧定宽</p>
    </div>
    <div class="g-sd42">
        <p>右2侧定宽</p>
    </div>
</div>
</body>
</html>