H1.authorware {
	BORDER-LEFT-COLOR: #a33; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/authorware.gif); BORDER-BOTTOM-COLOR: #a33; BORDER-TOP-COLOR: #a33; BORDER-RIGHT-COLOR: #a33
}
H1.breeze {
	BORDER-LEFT-COLOR: #8a9; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/breeze.gif); BORDER-BOTTOM-COLOR: #8a9; BORDER-TOP-COLOR: #8a9; BORDER-RIGHT-COLOR: #8a9
}
H1.captivate {
	BORDER-LEFT-COLOR: #609191; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/captivate.gif); BORDER-BOTTOM-COLOR: #609191; BORDER-TOP-COLOR: #609191; BORDER-RIGHT-COLOR: #609191
}
H1.central {
	BORDER-LEFT-COLOR: #09d; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/central.gif); BORDER-BOTTOM-COLOR: #09d; BORDER-TOP-COLOR: #09d; BORDER-RIGHT-COLOR: #09d
}
H1.coldfusion {
	BORDER-LEFT-COLOR: #00a3dd; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/coldfusion.gif); BORDER-BOTTOM-COLOR: #00a3dd; BORDER-TOP-COLOR: #00a3dd; BORDER-RIGHT-COLOR: #00a3dd
}
H1.contribute {
	BORDER-LEFT-COLOR: #7766bb; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/contribute.gif); BORDER-BOTTOM-COLOR: #7766bb; BORDER-TOP-COLOR: #7766bb; BORDER-RIGHT-COLOR: #7766bb
}
H1.cps {
	BORDER-LEFT-COLOR: #7766bb; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/contribute.gif); BORDER-BOTTOM-COLOR: #7766bb; BORDER-TOP-COLOR: #7766bb; BORDER-RIGHT-COLOR: #7766bb
}
H1.director {
	BORDER-LEFT-COLOR: #ff6600; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/director.gif); BORDER-BOTTOM-COLOR: #ff6600; BORDER-TOP-COLOR: #ff6600; BORDER-RIGHT-COLOR: #ff6600
}
H1.dreamweaver {
	BORDER-LEFT-COLOR: #8d0; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/dreamweaver.gif); BORDER-BOTTOM-COLOR: #8d0; BORDER-TOP-COLOR: #8d0; BORDER-RIGHT-COLOR: #8d0
}
H1.fireworks {
	BORDER-LEFT-COLOR: #ffc800; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/fireworks.gif); BORDER-BOTTOM-COLOR: #ffc800; BORDER-TOP-COLOR: #ffc800; BORDER-RIGHT-COLOR: #ffc800
}
H1.flash {
	BORDER-LEFT-COLOR: #f30; BORDER-BOTTOM-COLOR: #f30; BORDER-TOP-COLOR: #f30; BORDER-RIGHT-COLOR: #f30
}
H1.flashcom {
	BORDER-LEFT-COLOR: #f30; BORDER-BOTTOM-COLOR: #f30; BORDER-TOP-COLOR: #f30; BORDER-RIGHT-COLOR: #f30
}
H1.flashmediaserver {
	BORDER-LEFT-COLOR: #f30; BORDER-BOTTOM-COLOR: #f30; BORDER-TOP-COLOR: #f30; BORDER-RIGHT-COLOR: #f30
}
H1.flashremoting {
	BORDER-LEFT-COLOR: #f30; BORDER-BOTTOM-COLOR: #f30; BORDER-TOP-COLOR: #f30; BORDER-RIGHT-COLOR: #f30
}
H1.flash {
	BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/flash.gif)
}
H1.flashcom {
	BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/flashcom.gif)
}
H1.flashmediaserver {
	BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/flashmediaserver.gif)
}
H1.flashremoting {
	BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/flashremoting.gif)
}
H1.flashpaper {
	BORDER-LEFT-COLOR: #663366; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/flashpaper.gif); BORDER-BOTTOM-COLOR: #663366; BORDER-TOP-COLOR: #663366; BORDER-RIGHT-COLOR: #663366
}
H1.flashplayer {
	BORDER-LEFT-COLOR: #58769a; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/flashplayer.gif); BORDER-BOTTOM-COLOR: #58769a; BORDER-TOP-COLOR: #58769a; BORDER-RIGHT-COLOR: #58769a
}
H1.flashplayersdk {
	BORDER-LEFT-COLOR: #58769a; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/flashplayer.gif); BORDER-BOTTOM-COLOR: #58769a; BORDER-TOP-COLOR: #58769a; BORDER-RIGHT-COLOR: #58769a
}
H1.flashlite {
	BORDER-LEFT-COLOR: #58769a; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/flashplayer.gif); BORDER-BOTTOM-COLOR: #58769a; BORDER-TOP-COLOR: #58769a; BORDER-RIGHT-COLOR: #58769a
}
H1.flex {
	BORDER-LEFT-COLOR: #000; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/flex.gif); BORDER-BOTTOM-COLOR: #000; BORDER-TOP-COLOR: #000; BORDER-RIGHT-COLOR: #000
}
H1.fontographer {
	BORDER-LEFT-COLOR: #090; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/fontographer.gif); BORDER-BOTTOM-COLOR: #090; BORDER-TOP-COLOR: #090; BORDER-RIGHT-COLOR: #090
}
H1.freehand {
	BORDER-LEFT-COLOR: #0cc; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/freehand.gif); BORDER-BOTTOM-COLOR: #0cc; BORDER-TOP-COLOR: #0cc; BORDER-RIGHT-COLOR: #0cc
}
H1.generator {
	BORDER-LEFT-COLOR: #fc3; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/generator.gif); BORDER-BOTTOM-COLOR: #fc3; BORDER-TOP-COLOR: #fc3; BORDER-RIGHT-COLOR: #fc3
}
H1.homesite {
	BORDER-LEFT-COLOR: #a04f11; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/homesite.gif); BORDER-BOTTOM-COLOR: #a04f11; BORDER-TOP-COLOR: #a04f11; BORDER-RIGHT-COLOR: #a04f11
}
H1.jrun {
	BORDER-LEFT-COLOR: #093; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/jrun.gif); BORDER-BOTTOM-COLOR: #093; BORDER-TOP-COLOR: #093; BORDER-RIGHT-COLOR: #093
}
H1.kawa {
	BORDER-LEFT-COLOR: #ababab; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/kawa.gif); BORDER-BOTTOM-COLOR: #ababab; BORDER-TOP-COLOR: #ababab; BORDER-RIGHT-COLOR: #ababab
}
H1.robodemo {
	BORDER-LEFT-COLOR: #4d07a6; BACKGROUND-IMAGE: none; BORDER-BOTTOM-COLOR: #4d07a6; BORDER-TOP-COLOR: #4d07a6; BORDER-RIGHT-COLOR: #4d07a6
}
H1.robohelp {
	BORDER-LEFT-COLOR: rgb(0,114,188); BACKGROUND-IMAGE: none; BORDER-BOTTOM-COLOR: rgb(0,114,188); BORDER-TOP-COLOR: rgb(0,114,188); BORDER-RIGHT-COLOR: rgb(0,114,188)
}
H1.robohelpframemaker {
	BORDER-LEFT-COLOR: #933; BACKGROUND-IMAGE: none; BORDER-BOTTOM-COLOR: #933; BORDER-TOP-COLOR: #933; BORDER-RIGHT-COLOR: #933
}
H1.robopdf {
	BORDER-LEFT-COLOR: #cd000e; BACKGROUND-IMAGE: none; BORDER-BOTTOM-COLOR: #cd000e; BORDER-TOP-COLOR: #cd000e; BORDER-RIGHT-COLOR: #cd000e
}
H1.roboinfo {
	BORDER-LEFT-COLOR: rgb(0,135,56); BACKGROUND-IMAGE: none; BORDER-BOTTOM-COLOR: rgb(0,135,56); BORDER-TOP-COLOR: rgb(0,135,56); BORDER-RIGHT-COLOR: rgb(0,135,56)
}
H1.roboscreencapture {
	BORDER-LEFT-COLOR: #ea4b1e; BACKGROUND-IMAGE: none; BORDER-BOTTOM-COLOR: #ea4b1e; BORDER-TOP-COLOR: #ea4b1e; BORDER-RIGHT-COLOR: #ea4b1e
}
H1.shockwave {
	BORDER-LEFT-COLOR: #f60; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/shockwave.gif); BORDER-BOTTOM-COLOR: #f60; BORDER-TOP-COLOR: #f60; BORDER-RIGHT-COLOR: #f60
}
H1.sitespring {
	BORDER-LEFT-COLOR: #609; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/sitespring.gif); BORDER-BOTTOM-COLOR: #609; BORDER-TOP-COLOR: #609; BORDER-RIGHT-COLOR: #609
}
H1.soundedit {
	BORDER-LEFT-COLOR: #c60; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/soundedit.gif); BORDER-BOTTOM-COLOR: #c60; BORDER-TOP-COLOR: #c60; BORDER-RIGHT-COLOR: #c60
}
H1.studio {
	BORDER-LEFT-COLOR: #008ed6; BORDER-BOTTOM-COLOR: #008ed6; BORDER-TOP-COLOR: #008ed6; BORDER-RIGHT-COLOR: #008ed6
}
H1.ultradev {
	BORDER-LEFT-COLOR: #099; BACKGROUND-IMAGE: url(/images/shared/product_logos/headers/ultradev.gif); BORDER-BOTTOM-COLOR: #099; BORDER-TOP-COLOR: #099; BORDER-RIGHT-COLOR: #099
}
DIV.full-width H1 {
	BACKGROUND-POSITION: 693px 0.1em
}
DIV.partial-width H1 {
	BACKGROUND-POSITION: 693px 0.1em
}
DIV.with-pod H1 {
	BACKGROUND-POSITION: 496px 0px
}
