DIV.columns-4-ABCD-A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-4-ABCD-B {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-4-ABCD-C {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-3-aaBcc-aa {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-3-aaBcc-B {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-3-aabbC-aa {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-3-aabbC-bb {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-3-ABC-A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-3-ABC-B {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-2-aaB-aa {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-2-Abb-A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-2-AB-A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-4-ABCD-D {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: right; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-3-aabbC-C {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: right; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-3-aaBcc-cc {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: right; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-3-ABC-C {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: right; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-2-Abb-bb {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: right; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-2-aaB-B {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: right; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-2-AB-B {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: right; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.columns-2-Abb-A {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
DIV.columns-2-aaB-aa {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
DIV.columns-2-AB-A {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
DIV.columns-3-ABC-A {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
DIV.columns-3-aaBcc-aa {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
DIV.columns-3-aabbC-aa {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
DIV.columns-4-ABCD-A {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
DIV.columns-2-Abb-bb {
	PADDING-RIGHT: 0px; MARGIN-RIGHT: 0px
}
DIV.columns-2-aaB-B {
	PADDING-RIGHT: 0px; MARGIN-RIGHT: 0px
}
DIV.columns-2-AB-B {
	PADDING-RIGHT: 0px; MARGIN-RIGHT: 0px
}
DIV.columns-3-ABC-C {
	PADDING-RIGHT: 0px; MARGIN-RIGHT: 0px
}
DIV.columns-3-aaBcc-cc {
	PADDING-RIGHT: 0px; MARGIN-RIGHT: 0px
}
DIV.columns-3-aabbC-C {
	PADDING-RIGHT: 0px; MARGIN-RIGHT: 0px
}
DIV.columns-4-ABCD-D {
	PADDING-RIGHT: 0px; MARGIN-RIGHT: 0px
}
 HTML DIV.columns-2-Abb-A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-LEFT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-2-aaB-aa {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-LEFT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-2-AB-A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-LEFT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-3-ABC-A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-LEFT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-3-aaBcc-aa {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-LEFT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-3-aabbC-aa {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-LEFT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-4-ABCD-A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-LEFT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-2-Abb-bb {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-RIGHT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-2-aaB-B {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-RIGHT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-2-AB-B {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-RIGHT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-3-ABC-C {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-RIGHT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-3-aaBcc-cc {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-RIGHT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-3-aabbC-C {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-RIGHT: -4px; PADDING-TOP: 0px
}
 HTML DIV.columns-4-ABCD-D {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN-RIGHT: -4px; PADDING-TOP: 0px
}
DIV.full-width DIV.columns-2-AB-A {
	WIDTH: 366px
}
DIV.full-width DIV.columns-2-AB-B {
	WIDTH: 366px
}
DIV.full-width DIV.options-pod DIV.columns-2-AB-A {
	WIDTH: 358px
}
DIV.full-width DIV.options-pod DIV.columns-2-AB-B {
	WIDTH: 358px
}
DIV.partial-width DIV.columns-2-AB-A {
	WIDTH: 267px
}
DIV.partial-width DIV.columns-2-AB-B {
	WIDTH: 267px
}
DIV.full-width DIV.columns-2-aaB-aa {
	WIDTH: 176px
}
DIV.full-width DIV.columns-2-aaB-B {
	WIDTH: 532px
}
DIV.full-width DIV.columns-2-Abb-A {
	WIDTH: 482px
}
DIV.full-width DIV.columns-2-Abb-bb {
	WIDTH: 241px
}
DIV.partial-width DIV.columns-2-aaB-aa {
	WIDTH: 175px
}
DIV.partial-width DIV.columns-2-Abb-bb {
	WIDTH: 175px
}
DIV.partial-width DIV.columns-2-aaB-B {
	WIDTH: 359px
}
DIV.partial-width DIV.columns-2-Abb-A {
	WIDTH: 359px
}
DIV.full-width DIV.columns-3-ABC-A {
	WIDTH: 241px
}
DIV.full-width DIV.columns-3-ABC-B {
	WIDTH: 241px
}
DIV.full-width DIV.columns-3-ABC-C {
	WIDTH: 241px
}
DIV.full-width DIV.columns-3-ABC-B {
	MARGIN-LEFT: 8px
}
DIV.partial-width DIV.columns-3-ABC-A {
	WIDTH: 176px
}
DIV.partial-width DIV.columns-3-ABC-B {
	WIDTH: 176px
}
DIV.partial-width DIV.columns-3-ABC-C {
	WIDTH: 176px
}
DIV.partial-width DIV.columns-3-ABC-B {
	MARGIN-LEFT: 7px
}
DIV.full-width DIV.columns-3-aabbC-aa {
	WIDTH: 186px
}
DIV.full-width DIV.columns-3-aabbC-bb {
	WIDTH: 186px
}
DIV.full-width DIV.columns-3-aabbC-bb {
	MARGIN-LEFT: 7px
}
DIV.full-width DIV.columns-3-aabbC-C {
	WIDTH: 354px
}
DIV.partial-width DIV.columns-3-aabbC-aa {
	WIDTH: 124px; HEIGHT: auto! important
}
DIV.partial-width DIV.columns-3-aabbC-bb {
	WIDTH: 124px; HEIGHT: auto! important
}
DIV.partial-width DIV.columns-3-aabbC-bb {
	MARGIN-LEFT: 7px
}
DIV.partial-width DIV.columns-3-aabbC-C {
	WIDTH: 281px
}
DIV.full-width DIV.columns-4-ABCD-A {
	WIDTH: 178px
}
DIV.full-width DIV.columns-4-ABCD-B {
	WIDTH: 178px
}
DIV.full-width DIV.columns-4-ABCD-C {
	WIDTH: 178px
}
DIV.full-width DIV.columns-4-ABCD-D {
	WIDTH: 178px
}
DIV.full-width DIV.columns-4-ABCD-B {
	MARGIN-LEFT: 9px
}
DIV.full-width DIV.columns-4-ABCD-C {
	MARGIN-LEFT: 9px
}
DIV.partial-width DIV.columns-4-ABCD-A {
	WIDTH: 129px
}
DIV.partial-width DIV.columns-4-ABCD-B {
	WIDTH: 129px
}
DIV.partial-width DIV.columns-4-ABCD-C {
	WIDTH: 129px
}
DIV.partial-width DIV.columns-4-ABCD-D {
	WIDTH: 129px
}
DIV.partial-width DIV.columns-4-ABCD-B {
	MARGIN-LEFT: 9px
}
DIV.partial-width DIV.columns-4-ABCD-C {
	MARGIN-LEFT: 9px
}
DIV.full-width DIV.columns-2-AB-A DIV.columns-2-AB-A {
	WIDTH: 181px
}
DIV.full-width DIV.columns-2-AB-B DIV.columns-2-AB-A {
	WIDTH: 181px
}
DIV.full-width DIV.columns-2-AB-A DIV.columns-2-AB-B {
	WIDTH: 181px
}
DIV.full-width DIV.columns-2-AB-B DIV.columns-2-AB-B {
	WIDTH: 181px
}
DIV.full-width DIV.columns-2-AB-A DIV.op-body DIV.columns-2-AB-A {
	WIDTH: 165px
}
DIV.full-width DIV.columns-2-AB-B DIV.op-body DIV.columns-2-AB-A {
	WIDTH: 165px
}
DIV.full-width DIV.columns-2-AB-A DIV.op-body DIV.columns-2-AB-B {
	WIDTH: 165px
}
DIV.full-width DIV.columns-2-AB-B DIV.op-body DIV.columns-2-AB-B {
	WIDTH: 165px
}
DIV.full-width DIV.options-pod DIV.columns-2-AB-A DIV.columns-2-AB-A {
	WIDTH: 165px
}
DIV.full-width DIV.options-pod DIV.columns-2-AB-B DIV.columns-2-AB-A {
	WIDTH: 165px
}
DIV.full-width DIV.options-pod DIV.columns-2-AB-A DIV.columns-2-AB-B {
	WIDTH: 165px
}
DIV.full-width DIV.options-pod DIV.columns-2-AB-B DIV.columns-2-AB-B {
	WIDTH: 165px
}
 HTML DIV.full-width DIV.columns-2-AB-A DIV.op-body {
	HEIGHT: 1%
}
 HTML DIV.full-width DIV.columns-2-AB-B DIV.op-body {
	HEIGHT: 1%
}
DIV.full-width DIV.columns-2-AB-A DIV.columns-2-Abb-A {
	WIDTH: 238px
}
DIV.full-width DIV.columns-2-AB-B DIV.columns-2-Abb-A {
	WIDTH: 238px
}
DIV.full-width DIV.columns-2-AB-A DIV.columns-2-Abb-bb {
	WIDTH: 124px
}
DIV.full-width DIV.columns-2-AB-B DIV.columns-2-Abb-bb {
	WIDTH: 124px
}
DIV.full-width DIV.columns-2-aaB-B DIV.columns-2-AB-A {
	WIDTH: 262px
}
DIV.full-width DIV.columns-2-aaB-B DIV.columns-2-AB-B {
	WIDTH: 262px
}
DIV.full-width DIV.columns-2-Abb-A DIV.columns-2-AB-A {
	WIDTH: 241px
}
DIV.full-width DIV.columns-2-Abb-A DIV.columns-2-AB-B {
	WIDTH: 241px
}
DIV.partial-width DIV.columns-2-AB-A DIV.columns-2-AB-A {
	WIDTH: 129px
}
DIV.partial-width DIV.columns-2-AB-B DIV.columns-2-AB-A {
	WIDTH: 129px
}
DIV.partial-width DIV.columns-2-AB-A DIV.columns-2-AB-B {
	WIDTH: 129px
}
DIV.partial-width DIV.columns-2-AB-B DIV.columns-2-AB-B {
	WIDTH: 129px
}
DIV.partial-width DIV.columns-2-AB-A DIV.p-halo DIV.columns-2-AB-A {
	WIDTH: 120px
}
DIV.partial-width DIV.columns-2-AB-B DIV.p-halo DIV.columns-2-AB-A {
	WIDTH: 120px
}
DIV.partial-width DIV.columns-2-AB-A DIV.p-halo DIV.columns-2-AB-B {
	WIDTH: 120px
}
DIV.partial-width DIV.columns-2-AB-B DIV.p-halo DIV.columns-2-AB-B {
	WIDTH: 120px
}
DIV.partial-width DIV.columns-2-aaB-B DIV.columns-2-AB-A {
	WIDTH: 176px
}
DIV.partial-width DIV.columns-2-aaB-B DIV.columns-2-AB-B {
	WIDTH: 176px
}
DIV.partial-width DIV.columns-2-aaB-B DIV.columns-2-aaB-aa {
	WIDTH: 130px; TEXT-ALIGN: left! important
}
DIV.partial-width DIV.columns-2-aaB-B DIV.columns-2-aaB-B {
	WIDTH: 222px
}
DIV.full-width DIV.columns-2-aaB-B DIV.columns-2-aaB-aa {
	WIDTH: 159px; TEXT-ALIGN: left! important
}
DIV.full-width DIV.columns-2-aaB-B DIV.columns-2-aaB-B {
	WIDTH: 372px
}
.form-columns DIV.columns-2-AB-A {
	MARGIN-TOP: 3px! important; MARGIN-BOTTOM: 3px! important
}
.form-columns DIV.columns-2-AB-B {
	MARGIN-TOP: 3px! important; MARGIN-BOTTOM: 3px! important
}
.form-columns DIV.columns-2-aaB-aa {
	MARGIN-TOP: 3px! important; MARGIN-BOTTOM: 3px! important
}
.form-columns DIV.columns-2-aaB-B {
	MARGIN-TOP: 3px! important; MARGIN-BOTTOM: 3px! important
}
.form-columns DIV.columns-2-Abb-A {
	MARGIN-TOP: 3px! important; MARGIN-BOTTOM: 3px! important
}
.form-columns DIV.columns-2-Abb-bb {
	MARGIN-TOP: 3px! important; MARGIN-BOTTOM: 3px! important
}
.form-columns DIV.columns-3-aaBcc-aa {
	MARGIN-TOP: 3px! important; MARGIN-BOTTOM: 3px! important
}
.form-columns DIV.columns-3-aaBcc-B {
	MARGIN-TOP: 3px! important; MARGIN-BOTTOM: 3px! important
}
.form-columns DIV.columns-3-aaBcc-cc {
	MARGIN-TOP: 3px! important; MARGIN-BOTTOM: 3px! important
}
.form-columns DIV.columns-3-aabbC-aa {
	MARGIN-TOP: 3px! important; MARGIN-BOTTOM: 3px! important
}
.form-columns DIV.columns-3-aabbC-bb {
	MARGIN-TOP: 3px! important; MARGIN-BOTTOM: 3px! important
}
.form-columns DIV.columns-3-aabbC-C {
	MARGIN-TOP: 3px! important; MARGIN-BOTTOM: 3px! important
}
.form-columns DIV.columns-2-AB-A {
	PADDING-BOTTOM: 0.25em! important; PADDING-TOP: 0.25em! important
}
.form-columns DIV.columns-2-aaB-aa {
	PADDING-BOTTOM: 0.25em! important; PADDING-TOP: 0.25em! important
}
.form-columns DIV.columns-2-Abb-A {
	PADDING-BOTTOM: 0.25em! important; PADDING-TOP: 0.25em! important
}
.form-columns DIV.columns-3-aabbC-aa {
	PADDING-BOTTOM: 0.25em! important; PADDING-TOP: 0.25em! important
}
.form-columns DIV.columns-3-aaBcc-aa {
	PADDING-BOTTOM: 0.25em! important; PADDING-TOP: 0.25em! important
}
DIV.partial-width .form-columns DIV.columns-2-AB-A {
	WIDTH: 271px
}
DIV.partial-width .form-columns DIV.columns-2-AB-B {
	WIDTH: 271px
}
DIV.partial-width .form-columns FIELDSET DIV.columns-2-AB-A {
	WIDTH: 267px
}
DIV.partial-width .form-columns FIELDSET DIV.columns-2-AB-B {
	WIDTH: 267px
}
DIV.partial-width .form-columns DIV.columns-2-aaB-aa {
	WIDTH: 165px
}
DIV.partial-width .form-columns DIV.columns-3-aaBcc-aa {
	WIDTH: 165px
}
DIV.partial-width .form-columns DIV.columns-2-aaB-B {
	WIDTH: 376px
}
DIV.partial-width .form-columns DIV.columns-3-aaBcc-B {
	WIDTH: 184px
}
DIV.partial-width .form-columns DIV.columns-3-aaBcc-cc {
	WIDTH: 184px
}
DIV.full-width .form-columns DIV.columns-3-aabbC-aa {
	WIDTH: 166px
}
DIV.full-width .form-columns DIV.columns-2-aaB-aa {
	WIDTH: 200px
}
DIV.partial-width .form-columns DIV.columns-3-aabbC-aa {
	WIDTH: 137px
}
DIV.partial-width .form-columns DIV.columns-3-aabbC-bb {
	WIDTH: 137px
}
DIV.partial-width .form-columns DIV.columns-3-aabbC-bb {
	MARGIN-LEFT: 0px
}
DIV.partial-width .form-columns DIV.columns-3-aabbC-C {
	MARGIN-BOTTOM: 0px! important; WIDTH: 267px
}
.form-columns DIV.columns-3-aaBcc-aa {
	TEXT-ALIGN: right
}
DIV.full-width COL.datacolumns-3-aaBC-aa {
	WIDTH: 188px
}
DIV.full-width COL.datacolumns-3-aaBC-B {
	WIDTH: 266px
}
DIV.full-width COL.datacolumns-3-aaBC-C {
	WIDTH: 266px
}
DIV.full-width COL.datacolumns-4-aaBCD-aa {
	WIDTH: 135px
}
DIV.full-width COL.datacolumns-4-aaBCD-B {
	WIDTH: 195px
}
DIV.full-width COL.datacolumns-4-aaBCD-C {
	WIDTH: 195px
}
DIV.full-width COL.datacolumns-4-aaBCD-D {
	WIDTH: 195px
}
DIV.full-width COL.datacolumns-4-ABCD-A {
	WIDTH: 180px
}
DIV.full-width COL.datacolumns-4-ABCD-B {
	WIDTH: 180px
}
DIV.full-width COL.datacolumns-4-ABCD-C {
	WIDTH: 180px
}
DIV.full-width COL.datacolumns-4-ABCD-D {
	WIDTH: 180px
}
DIV.full-width COL.datacolumns-3-ABC-A {
	WIDTH: 240px
}
DIV.full-width COL.datacolumns-3-ABC-B {
	WIDTH: 240px
}
DIV.full-width COL.datacolumns-3-ABC-C {
	WIDTH: 240px
}
DIV.full-width COL.datacolumns-2-AB-A {
	WIDTH: 360px
}
DIV.full-width COL.datacolumns-2-AB-B {
	WIDTH: 360px
}
DIV.full-width COL.datacolumns-4-Abbccdd-A {
	WIDTH: 282px
}
DIV.full-width COL.datacolumns-4-Abbccdd-bb {
	WIDTH: 146px
}
DIV.full-width COL.datacolumns-4-Abbccdd-cc {
	WIDTH: 146px
}
DIV.full-width COL.datacolumns-4-Abbccdd-dd {
	WIDTH: 146px
}
DIV.partial-width COL.datacolumns-3-aaBC-aa {
	WIDTH: 132px
}
DIV.partial-width COL.datacolumns-3-aaBC-B {
	WIDTH: 197px
}
DIV.partial-width COL.datacolumns-3-aaBC-C {
	WIDTH: 197px
}
DIV.partial-width COL.datacolumns-4-aaBCD-aa {
	WIDTH: 112px
}
DIV.partial-width COL.datacolumns-4-aaBCD-B {
	WIDTH: 138px
}
DIV.partial-width COL.datacolumns-4-aaBCD-C {
	WIDTH: 138px
}
DIV.partial-width COL.datacolumns-4-aaBCD-D {
	WIDTH: 138px
}
DIV.partial-width COL.datacolumns-3-ABC-A {
	WIDTH: 175px
}
DIV.partial-width COL.datacolumns-3-ABC-B {
	WIDTH: 175px
}
DIV.partial-width COL.datacolumns-3-ABC-C {
	WIDTH: 175px
}
DIV.partial-width COL.datacolumns-3-Abbcc-A {
	WIDTH: 235px
}
DIV.partial-width COL.datacolumns-3-Abbcc-bb {
	WIDTH: 97px
}
DIV.partial-width COL.datacolumns-3-Abbcc-cc {
	WIDTH: 97px
}
DIV.partial-width COL.datacolumns-2-AB-A {
	WIDTH: 283px
}
DIV.partial-width COL.datacolumns-2-AB-B {
	WIDTH: 283px
}
DIV.partial-width COL.datacolumns-2-aaB-aa {
	WIDTH: 186px
}
DIV.partial-width COL.datacolumns-2-Abb-bb {
	WIDTH: 186px
}
DIV.partial-width COL.datacolumns-2-aaB-B {
	WIDTH: 348px
}
DIV.partial-width COL.datacolumns-2-Abb-A {
	WIDTH: 348px
}
 HTML DIV.partial-width TABLE DIV.preWrapper {
	WIDTH: 340px
}
 HTML DIV.full-width DIV.columns-2-aaB-B TABLE DIV.preWrapper {
	WIDTH: 409px
}
:unknown DIV.partial-width TABLE DIV.preWrapper {
	WIDTH: 309px
}
:unknown DIV.full-width DIV.columns-2-aaB-B TABLE DIV.preWrapper {
	WIDTH: 406px
}
