P.nav-bottom {
	MARGIN-TOP: 2em; TEXT-ALIGN: center
}
DIV.nav-bottom {
	MARGIN-TOP: 2em; TEXT-ALIGN: center
}
P.nav-top {
	MARGIN-BOTTOM: 2em; TEXT-ALIGN: center
}
DIV.nav-top {
	MARGIN-BOTTOM: 2em; TEXT-ALIGN: center
}
DIV.nav-pagination {
	PADDING-RIGHT: 0.5em; PADDING-BOTTOM: 1px
}
DIV.nav-pagination IMG {
	VERTICAL-ALIGN: middle
}
.nav-right IMG {
	VERTICAL-ALIGN: middle
}
DIV.nav-pagination {
	MIN-HEIGHT: 2.5em
}
DIV.nav-pagination IMG {
	MARGIN-LEFT: 0.5em
}
UNKNOWN {
	MARGIN-LEFT: 0em
}
 HTML DIV.nav-pagination IMG {
	MARGIN-RIGHT: -0.5em
}
SPAN.pagination {
	PADDING-RIGHT: 1em
}
DIV.h-nav P {
	FLOAT: right; MARGIN: 0px
}
DIV.h-nav UL.pipe-marker {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 2ex; WIDTH: auto; PADDING-TOP: 0px
}
#searchBarBottom UL.pipe-marker {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 2ex; WIDTH: auto; PADDING-TOP: 0px
}
DIV.h-nav UL.pipe-marker UL {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px
}
DIV.h-nav UL.pipe-marker LI {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px
}
#contentBody DIV.h-nav {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0.1em; MARGIN: 0px -8px 0.85em; PADDING-TOP: 0.1em; POSITION: relative
}
#contentBody DIV.h-nav H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
 HTML #contentBody DIV.h-nav {
	HEIGHT: 1em
}
 HTML #searchBarBottom {
	HEIGHT: 1em
}
#contentBody DIV.h-nav:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#searchBarBottom:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#searchBarBottom {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 3px; MARGIN: 1em -8px; PADDING-TOP: 3px
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 1.2em; PADDING-BOTTOM: 1px
}
P.iconmarker-16x16 {
	MARGIN-TOP: 1em; PADDING-LEFT: 20px; TEXT-INDENT: -20px
}
P.iconmarker-20x20 {
	MARGIN-TOP: 1em; PADDING-LEFT: 24px; TEXT-INDENT: -24px
}
H4 IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 0.35em
}
P IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 0.35em
}
P.nav-right IMG {
	MARGIN-RIGHT: 0px
}
P.label {
	MARGIN-BOTTOM: 0.15em
}
P.iow {
	MARGIN-TOP: -0.6em
}
#infoPod P {
	MARGIN: 6px 0px 0px
}
H4.iconmarker-16x16 {
	PADDING-LEFT: 20px; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; TEXT-INDENT: -20px
}
H4.iconmarker-16x16 A {
	FONT-WEIGHT: bold
}
SPAN.s-br {
	FONT-SIZE: 1px; WIDTH: 0px; HEIGHT: 0px
}
UNKNOWN {
	MARGIN: 0px 0px 0px -2px
}
DIV:unknown  SPAN.s-br {
	FLOAT: left; MARGIN: 0px
}
#contentBody .stamp-fast {
	FLOAT: none; MARGIN: 0px; WIDTH: 24px; HEIGHT: 9px
}
#layoutLogic H1 {
	PADDING-RIGHT: 4em; PADDING-LEFT: 16px; MIN-HEIGHT: 24px; PADDING-BOTTOM: 0.35em; MARGIN: 0px 1px; PADDING-TOP: 0.5em
}
 HTML #layoutLogic H1 {
	HEIGHT: 43px
}
H2 {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0.5em
}
#contentBody H3 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0.1em; MARGIN: 0px -8px 0.85em; PADDING-TOP: 0.1em
}
#iframe-popup H3 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0.1em; MARGIN: 0px -8px 0.85em; PADDING-TOP: 0.1em
}
#contentBody H3 A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; MARGIN-LEFT: -8px; MARGIN-RIGHT: -8px
}
 HTML #contentBody H3 A {
	HEIGHT: 1em
}
#pod H3 {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 0.35em
}
#util-article H3 {
	MARGIN: 0px -8px 0.5em
}
H4 {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
H1.imageHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2.imageHeader {
	CLEAR: both; PADDING-BOTTOM: 5px; MARGIN: 0px
}
H2.imageHeader-border {
	CLEAR: both; MARGIN-BOTTOM: 11px; WIDTH: 99%
}
H2.imageHeader-border IMG {
	MARGIN-BOTTOM: 8px
}
H3.imageHeader {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 0px
}
H3.imageHeader-border {
	CLEAR: both; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 4px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A.helptextlink {
	MARGIN-TOP: -6px
}
BLOCKQUOTE {
	MARGIN: 0px 0px 1.5em
}
BLOCKQUOTE.indent {
	MARGIN: 0px 32px 1.5em
}
BLOCKQUOTE ADDRESS {
	MARGIN-TOP: 0.25em
}
BLOCKQUOTE CITE {
	MARGIN-TOP: 0.25em
}
BLOCKQUOTE.pullquote {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1.25em; PADDING-TOP: 1.25em
}
BLOCKQUOTE.pullquote P {
	MARGIN-BOTTOM: 0.5em
}
BLOCKQUOTE.pullquote CITE {
	DISPLAY: block; MARGIN-LEFT: 1em
}
BLOCKQUOTE.pullquote SPAN.author {
	MARGIN-LEFT: -1em
}
Q {
	BEHAVIOR: url(/css/htc/qtag.htc)
}
ADDRESS {
	WIDTH: auto
}
#bio ADDRESS {
	DISPLAY: block; MARGIN-BOTTOM: 1.5em
}
DIV.legalnotice {
	CLEAR: both
}
DIV.new {
	FLOAT: left; MARGIN-RIGHT: 1px
}
SPAN.new {
	PADDING-LEFT: 5px
}
DIV.popupheader {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; PADDING-BOTTOM: 4px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 12px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 32px
}
DIV.popup {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; PADDING-BOTTOM: 16px; MARGIN: 0px; PADDING-TOP: 12px; HEIGHT: 100%
}
#closepopup {
	RIGHT: 16px; BOTTOM: 16px; POSITION: absolute
}
PRE {
	MARGIN-BOTTOM: 1em
}
DIV.preWrapper PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px 15px; PADDING-TOP: 0px
}
DIV.preWrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; MARGIN: 1em 0px; PADDING-TOP: 15px
}
 HTML DIV.preWrapper {
	OVERFLOW-X: auto; WIDTH: 100%
}
UNKNOWN {
	OVERFLOW: auto
}
:unknown DIV.columns-2-aaB-B DIV.preWrapper {
	WIDTH: 480px
}
:unknown DIV.columns-2-aaB-B UL DIV.preWrapper {
	WIDTH: 450px
}
:unknown DIV.columns-2-aaB-B OL DIV.preWrapper {
	WIDTH: 450px
}
DIV.blockOffsetLeft {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 24px 32px; PADDING-TOP: 0px
}
.caption {
	MARGIN-TOP: 0.8em
}
P.caption {
	MARGIN-TOP: 0.5em
}
#contentFooter {
	TEXT-ALIGN: left
}
DIV.portal-features H3 {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; MARGIN-BOTTOM: 0.2em! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
DIV.portal-features H4 {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; MARGIN-BOTTOM: 0.2em! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
DIV.badge {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px -10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
DIV.badge IMG {
	DISPLAY: block; MARGIN: 0px auto
}
DIV.badge EMBED {
	DISPLAY: block; MARGIN: 0px auto
}
DIV.badge OBJECT {
	DISPLAY: block; MARGIN: 0px auto
}
DIV.pod SPAN.descriptor {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.txtleft {
	TEXT-ALIGN: left! important
}
.txtright {
	TEXT-ALIGN: right! important
}
.txtcenter {
	TEXT-ALIGN: center! important
}
.center {
	TEXT-ALIGN: center! important
}
OL {
	LIST-STYLE-POSITION: outside; MARGIN-LEFT: 2em; LIST-STYLE-TYPE: decimal
}
UL {
	LIST-STYLE-POSITION: outside; MARGIN-LEFT: 0.5em; LIST-STYLE-TYPE: disc
}
UL {
	MARGIN-TOP: 1em; PADDING-LEFT: 1.5em; MARGIN-BOTTOM: 1.35em
}
OL {
	MARGIN-TOP: 1em; PADDING-LEFT: 1.5em; MARGIN-BOTTOM: 1.35em
}
LI {
	PADDING-BOTTOM: 0.5em; LINE-HEIGHT: 1.35em
}
LI OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0.3ex
}
LI UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0.3ex
}
OL OL {
	MARGIN-LEFT: 0.5ex; LIST-STYLE-TYPE: lower-alpha
}
OL OL OL {
	LIST-STYLE-TYPE: lower-roman
}
 HTML OL OL {
	MARGIN-LEFT: 1.5ex
}
LI P {
	MARGIN-BOTTOM: 0.5em
}
DIV.compact {
	MARGIN-TOP: 1em; PADDING-BOTTOM: 1.35em
}
UL.compact LI {
	FLOAT: left; WHITE-SPACE: nowrap
}
UL.compact:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
 HTML UL.compact {
	HEIGHT: 1em
}
#pod UL.nav-pod {
	LIST-STYLE-TYPE: none
}
#pod UL.nav-pod UL {
	LIST-STYLE-TYPE: none
}
#pod UL.nav-pod {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 1px; MARGIN: -7px -9px 10px; PADDING-TOP: 0px
}
#pod UL.nav-pod UL {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 0px; MARGIN: 0px -9px; PADDING-TOP: 0px
}
#pod UL.nav-pod LI {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 0px; MARGIN: 0px -9px; PADDING-TOP: 0px
}
#pod UL.nav-pod UL LI {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 0px; MARGIN: 0px -9px; PADDING-TOP: 0px
}
#pod UL.nav-pod LI A {
	PADDING-RIGHT: 9px; DISPLAY: block; PADDING-LEFT: 9px; MIN-HEIGHT: 14px; PADDING-BOTTOM: 5px; MARGIN: 0px -9px; PADDING-TOP: 5px
}
#pod UL.nav-pod UL LI A {
	PADDING-RIGHT: 9px; PADDING-LEFT: 22px; MIN-HEIGHT: 14px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#pod UL.nav-pod P {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 5px; MARGIN: 0px -9px; PADDING-TOP: 5px
}
 HTML #pod UL.nav-pod A {
	HEIGHT: 10px
}
 HTML #pod UL.nav-pod LI {
	HEIGHT: 10px
}
UL.rnav-static {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
UL.rnav-static LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; BORDER-BOTTOM: #c3c8cb 1px solid
}
UL.rnav-static LI UL {
	PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; FONT-SIZE: 1em; PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.rnav-static LI UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: medium none
}
UL.rnav-static LI P {
	MARGIN-TOP: 7px; MARGIN-BOTTOM: 2px
}
UL.iconmarker-18x12 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 1.35em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.iconmarker-16x16 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 1.35em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.iconmarker-20x20 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 1.35em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.iconmarker-16x16 IMG {
	WIDTH: 16px; HEIGHT: 16px
}
UL.iconmarker-16x16 LI {
	PADDING-LEFT: 20px; MARGIN-LEFT: 1px
}
UL.iconmarker-16x16 LI UL.iconmarker-16x16 LI {
	PADDING-LEFT: 20px; MARGIN-LEFT: 1px
}
UL.iconmarker-16x16 LI UL {
	MARGIN-BOTTOM: 0.35em
}
UL.iconmarker-16x16 LI UL LI {
	PADDING-LEFT: 0px
}
UL.iconmarker-16x16 LI IMG {
	CLEAR: none; FLOAT: none; MARGIN-LEFT: -20px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
DIV.compact UL.iconmarker-16x16 {
	MARGIN: 0px; WIDTH: 99%
}
DIV.compact UL.iconmarker-16x16 LI {
	PADDING-RIGHT: 1em; FLOAT: left; MARGIN: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
 HTML DIV.compact UL.iconmarker-16x16 LI {
	WIDTH: auto
}
UL.iconmarker-18x12 IMG {
	WIDTH: 18px; HEIGHT: 12px
}
UL.iconmarker-18x12 LI {
	PADDING-LEFT: 22px; MARGIN-LEFT: 1px
}
UL.iconmarker-18x12 LI IMG {
	CLEAR: both; FLOAT: left; MARGIN-LEFT: -23px
}
UL.iconmarker-20x20 IMG {
	WIDTH: 20px; HEIGHT: 20px
}
UL.iconmarker-20x20 LI {
	PADDING-LEFT: 24px; MARGIN-LEFT: 1px
}
UL.iconmarker-20x20 LI UL {
	MARGIN-TOP: 0.5em; PADDING-LEFT: 1px; MARGIN-LEFT: 0px
}
UL.iconmarker-20x20 LI UL LI {
	MARGIN-LEFT: 1em
}
UL.iconmarker-20x20 LI IMG {
	CLEAR: none; FLOAT: none; MARGIN-LEFT: -25px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
 HTML UL.iconmarker-16x16 LI {
	WIDTH: auto
}
 HTML UL.iconmarker-18x12 LI {
	WIDTH: auto
}
 HTML UL.iconmarker-20x20 LI {
	WIDTH: auto
}
UL.iconmarker-inline-16x16 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 1px 0px 1em; WIDTH: 99%; PADDING-TOP: 1px; LIST-STYLE-TYPE: none
}
UL.inline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 1px 0px 1em; WIDTH: 99%; PADDING-TOP: 1px; LIST-STYLE-TYPE: none
}
OL.inline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 1px 0px 1em; WIDTH: 99%; PADDING-TOP: 1px; LIST-STYLE-TYPE: none
}
UL.iconmarker-inline-16x16 LI {
	PADDING-RIGHT: 1em; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
UL.inline LI {
	PADDING-RIGHT: 1em; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
OL.inline LI {
	PADDING-RIGHT: 1em; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
UL.iconmarker-inline-16x16 LI IMG {
	CLEAR: none; FLOAT: none; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
UL.nomarker {
	PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; MARGIN: 0px 0px 1em 2px; LIST-STYLE-TYPE: none
}
.char-marker {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
.char-marker LI {
	PADDING-LEFT: 1em; TEXT-INDENT: -1em
}
DIV.pipe-marker UL {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 1.5em; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
UL.pipe-marker {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 1.5em; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
UNKNOWN {
	DISPLAY: inline
}
UNKNOWN {
	MARGIN-LEFT: 0.25ex; COLOR: #96a2a9; MARGIN-RIGHT: 0.5ex; content: "|"
}
DIV.pipe-marker .clear-both {
	DISPLAY: none
}
 HTML DIV.pipe-marker UL {
	WIDTH: 100%
}
 HTML UL.pipe-marker {
	WIDTH: 100%
}
 HTML DIV.pipe-marker UL {
	HEIGHT: 1em
}
 HTML DIV.pipe-marker UL LI {
	PADDING-RIGHT: 2ex; PADDING-LEFT: 1.5ex; BACKGROUND: url(/images/master/markers/pipe.gif) no-repeat left 0.35em; FLOAT: left; MARGIN-LEFT: -1ex; WHITE-SPACE: nowrap
}
 HTML UL.pipe-marker LI {
	PADDING-RIGHT: 2ex; PADDING-LEFT: 1.5ex; BACKGROUND: url(/images/master/markers/pipe.gif) no-repeat left 0.35em; FLOAT: left; MARGIN-LEFT: -1ex; WHITE-SPACE: nowrap
}
UL.rule-marker {
	PADDING-RIGHT: 8px; BORDER-TOP: #edeff0 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 10px; MARGIN: 6px -8px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.rule-marker LI {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0.2em; MARGIN: 0px -8px; PADDING-TOP: 0.2em; BORDER-BOTTOM: #edeff0 1px solid; BACKGROUND-COLOR: #fff
}
UL.rule-marker LI A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 0.2em; MARGIN: -0.2em -8px; LINE-HEIGHT: 1.35em; PADDING-TOP: 0.2em
}
UL.arrow-marker {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(/images/master/homepage/arrow_marker.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em 9px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.arrow-marker:unknown {
	
}
UNKNOWN {
	MARGIN: 0px 0px 0.5em 18px
}
 HTML UL.arrow-marker {
	MARGIN: 0px 0px 0px 18px
}
UL.arrow-marker LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 1px
}
UL.arrow-marker LI A {
	LEFT: 0px; POSITION: relative; TOP: 0px
}
UNKNOWN {
	LEFT: -5px
}
 HTML UL.arrow-marker LI A {
	LEFT: -5px; TOP: -0.3em
}
 HTML UL.arrow-marker {
	PADDING-TOP: 0.3em
}
UL.pointing-right-marker {
	LIST-STYLE-TYPE: none
}
LI.pointing-right-marker {
	LIST-STYLE-TYPE: none
}
UL.pointing-left-marker {
	LIST-STYLE-TYPE: none
}
LI.pointing-left-marker {
	LIST-STYLE-TYPE: none
}
UL.pointing-right-marker {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.pointing-left-marker {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.pointing-right-marker LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.2em; MARGIN: 1px 0px; LINE-HEIGHT: 1.35em; PADDING-TOP: 0.15em
}
UL.pointing-left-marker LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.2em; MARGIN: 1px 0px; LINE-HEIGHT: 1.35em; PADDING-TOP: 0.15em
}
 HTML .pointing-right-marker {
	HEIGHT: auto
}
 HTML .pointing-left-marker {
	HEIGHT: auto
}
UNKNOWN {
	content: ' ?'
}
 HTML .pointing-right-marker A {
	PADDING-RIGHT: 7px; BACKGROUND-POSITION: right 6px; DISPLAY: inline; FLOAT: none; BACKGROUND-IMAGE: url(/images/master/markers/pointing_right_link.gif); MARGIN-RIGHT: 0.1ex; BACKGROUND-REPEAT: no-repeat
}
 HTML .pointing-right-marker A:visited {
	BACKGROUND-POSITION: right -47px
}
 HTML #pod .pointing-right-marker A {
	BACKGROUND-POSITION: right 5px
}
 HTML #pod .pointing-right-marker A:visited {
	BACKGROUND-POSITION: right -48px
}
UNKNOWN {
	content: '? '
}
 HTML .pointing-left-marker A {
	BACKGROUND-POSITION: left 6px; DISPLAY: inline; PADDING-LEFT: 7px; FLOAT: none; BACKGROUND-IMAGE: url(/images/master/markers/pointing_left_link.gif); MARGIN-LEFT: 0.1ex; BACKGROUND-REPEAT: no-repeat
}
 HTML .txtright .pointing-left-marker A {
	DISPLAY: inline; FLOAT: none
}
 HTML .nav-right .pointing-left-marker A {
	DISPLAY: inline; FLOAT: none
}
 HTML .pointing-left-marker A:visited {
	BACKGROUND-POSITION: left -47px
}
 HTML #pod .pointing-left-marker A {
	BACKGROUND-POSITION: left 5px
}
 HTML #pod .pointing-left-marker A:visited {
	BACKGROUND-POSITION: left -48px
}
OL.searchResults {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 16px; LINE-HEIGHT: 1.3em; PADDING-TOP: 1px
}
OL.searchResults LI {
	VERTICAL-ALIGN: top
}
#util-article OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0px 1em; PADDING-TOP: 0.5em; LIST-STYLE-TYPE: none
}
#util-article UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0px 1em; PADDING-TOP: 0.5em; LIST-STYLE-TYPE: none
}
#util-article OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; LINE-HEIGHT: 1.35em; PADDING-TOP: 0px
}
#util-article UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; LINE-HEIGHT: 1.35em; PADDING-TOP: 0px
}
UL.link-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
DL.link-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
UL.link-list LI {
	MARGIN: 1px 0px; LINE-HEIGHT: 1.35em
}
DL.link-list DT {
	MARGIN: 1px 0px; LINE-HEIGHT: 1.35em
}
DL.link-list DD {
	MARGIN: 1px 0px; LINE-HEIGHT: 1.35em
}
UL.link-list LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.15em
}
DL.link-list DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.15em
}
DL.link-list DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.25ex; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.15em
}
UL.link-list A IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
DIV.compact UL.link-list LI {
	PADDING-RIGHT: 1em; FLOAT: left
}
UL.fma {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 1em 15px; PADDING-TOP: 0px
}
UL.fma {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 1em 15px; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
UL.indent {
	MARGIN-LEFT: 20px
}
#infoPod UL {
	MARGIN: 4px 0px
}
DT {
	LINE-HEIGHT: 1.5em
}
DD {
	LINE-HEIGHT: 1.5em
}
DT {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 1em
}
DL {
	MARGIN-BOTTOM: 1.5em
}
DD {
	MARGIN-BOTTOM: 1.5em
}
DD {
	MARGIN-LEFT: 16px
}
DL.no-indent {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
DL.no-indent DT {
	MARGIN-BOTTOM: 0px; LINE-HEIGHT: 1em
}
DL.no-indent DD {
	MARGIN-LEFT: 0px
}
#pod DIV.hr {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; HEIGHT: 1px
}
#infoPod DIV.hr {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; HEIGHT: 1px
}
#pod DIV.hr {
	MARGIN: 10px -10px
}
#contentBody DIV.op-head {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#contentBody DIV.op-head H3 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 3px; MARGIN: 0px; LINE-HEIGHT: normal; PADDING-TOP: 2px
}
#contentBody DIV.p-halo H3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; COLOR: #000; PADDING-TOP: 5px
}
DIV.op-body {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-TOP: 10px
}
#contentBody DIV.p-halo DIV.op-body {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 8px; PADDING-TOP: 12px
}
DIV.op-body DIV.image-left-80x60 {
	MARGIN-BOTTOM: 0px
}
 HTML DIV.op-body {
	HEIGHT: 1%
}
DIV.op-body UL {
	MARGIN: 0px 0px 0.85em
}
DIV.op-body P {
	MARGIN: 0px 0px 0.85em
}
#contentBody DIV.options-pod {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 16px; PADDING-TOP: 0px
}
DIV.options-box {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.search-pod {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: -7px -9px 10px; PADDING-TOP: 10px
}
.search-pod INPUT.submit {
	MARGIN: 0.35em 0px 0px
}
